@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
}

@layer components {
	* {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	.logo {
		font-family: "Croissant One", cursive;
	}

	.btn {
		@apply px-4 py-3 md:px-5 md:py-3 text-sm md:text-lg font-light bg-purple-500 text-white cursor-pointer rounded-xl border border-transparent hover:border-purple-300 hover:bg-gray-50 hover:text-purple-600 hover:shadow-md transition-all duration-200 ease-in-out;
	}
	.btnHeader {
		@apply px-4 py-3 md:px-5 md:py-3 text-sm md:text-base font-light bg-purple-500 text-white cursor-pointer rounded-xl border border-transparent hover:border-purple-300 hover:bg-gray-50 hover:text-purple-600 hover:shadow-md transition-all duration-200 ease-in-out;
	}
}
